*.pyc
/data/
/visualize_attention.ipynb
/Demo.ipynb
/model4.py
/model2.py
/model3.py
/h1.jpg
/Custom_layers.py
/bone.ipynb
/model1.py
/heatmap.jpg
/model.py
/customlayers.py
/activion_map.py
/keras-output-model.h5
*.caffemodel
.idea
